# ===================================
# PORTA DA APLICAÇÃO


PORT=8080
# ===================================




# ===================================
# AMBIENTE DO BANCO DE DADOS


DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
# ===================================